head,body{
    height: 100%;
}
body{
    margin: 0;
}
h3{
    font-family: cursive;
    text-align: center;
}
section .heading{
    font-size: 25px;
}
figcaption{
    font-size: 14px;
    line-height: 30px;
    color: #444242;
}
header{
    width: 100%;
    color: rgb(78, 78, 78);
    background-color: #fff;
}
header .navBar{
    margin: 0px 5px;
    padding:10px 0 30px 0;
    border-bottom: 1px solid #fff;
}
header .top-bar{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
header .navBar{
    width: 80%;
}
header .navBar h2{
    margin:0;
    font-family: cursive;
    font-size: 23px;
}
header #nav-btn{
    width: 20%;
    text-align: right;
    margin:0 5px 0 0;
}
header #nav-btn button{
    border: none;
    background-color:transparent;
    padding: 0;
    margin: 0%;
}
header #nav-btn button img{
    width: 33px;
}
header #nav-item {
    display: none;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: azure;
    z-index: 1;
}
header #nav-item button{
    float: right;
    margin: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
}
header #nav-item ul{
    padding: 0;
    list-style: none;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);
}
header #nav-item ul li{
    text-align: center;
    margin: 10px;
    font-size: 16px;
}
header #nav-item ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}
header #nav-item ul li :hover{
    background-color: black;
    color: white;
}
.top{
    display: block;
}
.top img{
    width: 97%;
    display: block;
}
.top hr{
    text-align: left;
    margin:20px  0;
    width:80px;
    border-top: 4px solid palevioletred ;
}
.top .intro  {
    padding: 0 20px;
}
.top .intro h3{
    text-align: left;
    font-size: 20px;
    margin: 0;
}
.top .intro button{
    background-color: rgb(247, 152, 184);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}
.top .intro ul,footer div ul{
    padding: 0 0 2em 0;
    list-style: none;
    display: flex;
}
.top .intro ul li,footer div ul li{
    margin: 10px 20px 0 0;
}
.top .intro ul li img,footer div ul li img{
    width: 30px;
}
section.skill{
    padding: 1.5em 0;
    /* background-color: #f7f7f7; */
    /* margin: 2em 10px; */
}
section.skill .skills{
    text-align: center;
    margin:3em 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
section.skill .skills div{
    vertical-align: text-bottom;
    /* background-color: #FFFFFF; */
    padding: 20px 0;
}
section.skill .skills div img{
    display: block;
    width: 80px;
    margin:10px auto;
    border-radius: 12px;
}
section.skill .skills div b{
    font-size: 12px;
    font-weight: 600;
    font-family: cursive;
}
section.skill .skills div img .js{
    display: block;
    margin: 20px auto;
}
section.skill .skills div img.vanilla{
    margin: -10px auto 20px auto;
    width: 90px;
}
.project{
    padding-bottom: 3em;
}
.project .projects{
    display: block;
}
.project button{
    display: block;
    margin: auto;
    text-align: center;
    padding: 8px 10px;
    background-color: palevioletred;
    color: white;
    border: none;
    border-radius: 5px;
}
.project .projects .project-wrapper{
    width: 90%;
    margin:3em  auto;
    box-shadow: 1px 1px 10px 1px #d8d8d8;
    
}
.project .projects .project-wrapper .project-image img{
    margin:0;
    width: 100%;
    filter: brightness(90%);
}
.project .projects .project-wrapper .project-details h3{
    margin: 0;
    font-size: 20px;
    text-align: left;
}
.project .projects .project-wrapper .project-details{
    font-size: 14px;
    line-height: 25px;
    padding: 20px;
    background-color: #fff;
}
.project .projects .project-wrapper .project-details ul{
    padding: 0;
    list-style: none;
}
.project .projects .project-wrapper .project-details li{
    display: inline-block;
    margin: 0 10px 10px 0;
    background-color: azure;
    width: 80px;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 0;
}
.project .projects .project-wrapper .project-details a{
    color: white;
    text-decoration: none;
}
.project .projects .project-wrapper .project-details img{
    width: 30px;
}
.project .projects .project-wrapper .project-details button{
    display: inline;
    padding: 8px 10px;
    background-color: palevioletred;
    border: none;
    border-radius: 5px;
    margin: 0 20px;
    vertical-align: top;
}
.project button a{
    text-decoration: none;
    color: white;
}
.experience{
    background-color: #fff;
    padding-top: 3em;
}
.experience .exp-place{
    display: block;
}
.experience .exp-place ul{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.experience .exp-place ul li{
    border-bottom: 2px solid #02BE75;
    border-radius: 5px;
    padding: 7px 10px;
    margin: 10px;
}
.experience .exp-points{
    margin: 20px;
}
.experience .exp-points h3{
    text-align: left;
}
.experience .exp-points h5{
    background-color: azure;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}
.experience .exp-points p{
    line-height: 25px;
    margin-left:10px ;
}
.experience .exp-points ul{
    padding: 0;
    list-style:none;
}
.experience .exp-points ul li{
    margin-left:20px ;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}
.experience .exp-points ul b::before {
    content: "\21A0";
    font-size: 20px;
    line-height: 0;
    font-weight: bolder;
    display: inline-block; 
    color: #02BE75;
    padding-right: 20px;
  }
  .volunteer{
    background-color: #fcfcfc;
    padding: 2em 0;
  }
  .volunteer .volunteers figure{
      width: 90%;
      margin:3em auto;
      padding: 2em 0;
      box-shadow: 2px 2px 6px gainsboro;
      background-color: white;
      vertical-align: top;
  }
  .volunteer .volunteers figure img{
      width: 200px;
      display: block;
      margin: auto;
  }
  .volunteer .volunteers figure figcaption {
      text-align: center;
      padding: 5px;
  }
  footer{
      background-color: rgb(43, 43, 43);
      padding: 10px 0;
  }
  footer div{
      text-align: center;
      color: white;
  }
  footer div ul{
      align-items: center;
      justify-content: center;
      padding: 0;
  }
  footer div p{
      font-size: 10px;
      margin: 0;
  }
  footer div p span{
      color: palevioletred;
  }
  #about header .top-bar,#project header .top-bar{
      background-color: white;
  }
  .about,.education{
      width: 90%;
      margin: auto;
  }
  .about .about-img img{
      width: 100%;
  }
  .about div p{
      font-size: 16px;
      line-height: 25px;
  }
  #about .education figure{
      margin: 0;
  }
  #about .education img{
    width: 150px;
    display: block;
    margin: auto;
  }
  #about .education ul{
      padding: 0;
  }
  #about .hobbies figure{
      box-shadow: 2px 2px 6px 2px gainsboro;
      margin: 2em auto;
      padding:3em 10px;
      width: 90%;
      text-align: center;
  }
  #about .hobbies figure img{
      width: 150px;
      display: block;
      margin: auto;
  }
  #about h3{
      margin: auto;
      width: fit-content;
      padding:20px 0 5px 0;
      border-bottom: 3px solid #02BE75;
  }
/* 
    larger screens
*/
@media (min-width:600px){
    section.skill .skills{
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
    }
    .volunteer .volunteers{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:768px){
    header .top-bar{
        text-align: left;
    }
    header .navBar{
        margin: 0px 5px;
        padding: 2em 1.5em;
        border-bottom: 1px solid #fff;
        width: 45%;
        text-align: left;
    }
    header #nav-btn{
        display: none;
    }
    header #nav-item {
        display: block;
        position: relative;
        background-color: white;
    }
    header #nav-item button{
        display: none;
    }
    header #nav-item ul{
        padding: 0;
        list-style: none;
        position: relative;
        top: 0;
        right: 0;
        transform: translate(0%,0%);
    }
    header #nav-item ul li{
        display: inline-block;
    }
    header .top{
        width: 95%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top img{
        margin: 0;
        width: 55%;
        display: block;
        order: 2;
    }

    .top .intro{
        margin-right: 4em;
    }
    .top .intro h3{
        font-size: 28px;
        margin: 0;
        text-align: left;
    }
    .top .intro h4{
        font-size: 20px;
    }
    .experience .exp-wrapper{
        display: flex;
    }
    .experience .exp-place{
        width: 25%;
    }
    .experience .exp-points{
        width: 60%;
    }
    .experience .exp-place ul li{
        border-bottom:none;
        border-left: 2px solid #02BE75;
    }
    .volunteer .volunteers figure figcaption{
        padding: 0 20px;
    }
}
@media (min-width:992px){
    body{
        background-color: #fcfcfc;
        /* background-color: rgb(239, 248, 247); */
    }
    header{
        background: linear-gradient(to right, azure 50%, white 50%);
    }
    header .navBar{
        width: 50%;
    }
    header #nav-item ul li{
        padding: 0;
    }
    .top .intro{
        margin-right: 12em;
    }
    .top img{
        width: 50%;
    }
    .project{
        display: block;
    }
    .project .projects .project-wrapper{
        position: relative;
        box-shadow: none;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        align-items: center;
        width: 80%;
        margin: 5em auto;
    }
    .project .projects .project-wrapper .project-image,.project .projects .project-wrapper .project-details{
        grid-row: 1/1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .project .projects .project-wrapper .project-image{
        box-shadow: 1px 1px 10px 1px #d8d8d8; 
        grid-column: 2/span 8;
        grid-column-start: 2;
        grid-column-end: span 8;
    }
    .project .projects .project-wrapper:nth-of-type(2n) .project-image {
        grid-column: 5/-1;
        grid-column-start: 5;
        grid-column-end: -1;
        grid-row: 1/1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .project .projects .project-wrapper .project-details{
        background-color: white;
        box-shadow: 1px 1px 10px 1px #d8d8d8;  z-index: 1;
        grid-column: 7/12;
        grid-column-start: 7;
        grid-column-end: 12;
    }
    .project .projects .project-wrapper:nth-of-type(2n) .project-details {
        grid-column: 2/7;
        grid-row: 1/1;
        text-align: left;
    }
    .project .projects figure img.switched{
        padding-left:10em ;
    }
    .project .projects figure .switch{
        left: 0%;
    }
    .volunteer{
        width: 80%;
        margin: auto;
    }
}
@media (min-width:1280px){
    header{
        background: linear-gradient(to right, azure 50%, white 50%);
    }
    .top .intro{
        margin-right: 20em;
    }
    .top img{
        width: 45%;
    }
    header #nav-item ul li{
        padding: 0 20px;
    }
    .volunteer{
        width: 70%;
    }
}