head,body{
    height: 100%;
}
body{
    margin: 0;
    background-color: #fff;
}
h3{
    font-family: cursive;
    text-align: center;
}
figcaption{
    font-size: 14px;
    line-height: 30px;
    color: #444242;
}
header{
    width: 100%;
    color: rgb(78, 78, 78);
    /* height: 6; */
}
header .navBar{
    margin: 0px 5px;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}
header .navBar h2{
    margin:0;
    font-family: cursive;
}
.top{
    display: block;
}
.top img{
    width: 100%;
    display: block;
}
.top hr{
    text-align: left;
    margin:20px  0;
    width:100px;
    border-top: 2px solid palevioletred ;
}
.top .intro  {
    padding: 0 20px;
}
section.skill{
    margin: 5em 10px;
}
section.skill .skills{
    text-align: center;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
section.skill .skills div{
    vertical-align: text-bottom;
}
section.skill .skills div img{
    display: block;
    width: 50px;
    margin: auto;
    border-radius: 12px;
}
section.skill .skills div img .js{
    display: block;
    /* margin: 10px 0; */
}
section.project{
    margin:5em  auto;
}
.project .projects{
    display: block;
}
.project .projects figure{
    box-shadow: 1px 1px 10px 1px #d8d8d8;
    margin:0 20px;
    width: 290px;
    text-align: center;
    margin:3em auto;
}
.project .projects figure img{
    margin: 20px 0;
    width: 120px;
}
.project .projects figure figcaption{
    font-size: 11px;
    line-height: 20px;
    padding: 20px;
}
.about{
    margin: 5em auto;
    display: block;
}
.about figure{
    width: 290px;
    margin:3em auto;
    text-align: center;
    box-shadow: 1px 1px 10px 1px #d8d8d8;
}
.about figure img{
    width: 290px;
}
.about figure figcaption{
    padding: 20px;
}
.education{
    margin: 5em auto;
}
.education figure,.volunteer figure{
    text-align: center;
    width: 290px;
    margin:2em  auto;
    box-shadow: 1px 1px 10px 1px #d8d8d8;
}
.education figure img, .volunteer figure img{
    width: 250px;
    margin: 20px 0;
}
.education figure figcaption{
    padding: 20px;
    text-align: left;
}
.volunteer{
    margin: 5em auto;
}
.volunteer figure figcaption{
    padding: 20px;
}
.achievements p{
    margin: 10px;
    padding: 20px;
    box-shadow: 1px 1px 10px 1px #d8d8d8;
    font-size:11px;
    color: #444242;
    line-height: 20px;

}
.achievements p span{
    background-image: linear-gradient(to left , red,orange,yellow,green,blue,indigo,violet);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* 
    larger screens
*/
@media (min-width:600px){
    section.skill .skills{
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
    }
    .project .projects,.volunteer .volunteers{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project .projects figure{
        /* display: inline-block; */
        vertical-align: top;
        margin: 10px;
        height: 250px;
    }
    .volunteer figure{
        margin:10px;
        width:278px;
    }
    .about figure,.education figure{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
}
